.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.app-logo{
    width: 200px;
}

.search-input{
    width: 300px;
    font-size: 18px;
    margin-right: 5px;
    border-radius: 4px;
}

.search-button{
    font-size: 18px;
    border-radius: 4px;
}

.search-button:hover{
    cursor: pointer;
}